{% extends 'app/base.html' %} 
{% load static %} 
{% block notification %}
<section class="section-50 " style="background-color: #eee">
    <div class="container py-5">
        <h3 class="m-b-50 heading-line hide-title-notification " style="font-size:30px; margin-bottom:24px">Thông báo của tôi <i class="fa fa-bell text-muted"></i></h3>

        <div class="notification-ui_dd-content">
            <div class="notification-list notification-list--unread">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="/static/Test_ui/user/1.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Văn A</b> đã yêu thich bài viết của bạn</p>
                        <p class="text-muted">Cần cho thuê phòng tại ngõ Gốc Đề, điện nước giá dân, vệ sinh khép kín, đầy đủ tiện nghi,...</p>
                        <p class="text-muted"><small>10 phút trước</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="/static/app/images/banner/anh2.jpg" alt="Feature image">
                </div>
            </div>
            <div class="notification-list notification-list--unread">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="/static/Test_ui/user/2.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Vũ H</b> đã thích bài viết của bạn</p>
                        <p class="text-muted">Cần cho thuê phòng tại ngõ Gốc Đề, điện nước giá dân, vệ sinh khép kín, đầy đủ tiện nghi,...</p>
                        <p class="text-muted"><small>20 phút trước</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="/static/app/images/banner/anh1.jpg" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="/static/Test_ui/user/3.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Nguyễn B</b> đã yêu thích bình luận của bạn</p>
                        <p class="text-muted">Phòng này giá bao nhiêu vậy a?</p>
                        <p class="text-muted"><small>30 phút trước</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="/static/app/images/banner/anh3.jpg" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="/static/Test_ui/user/2.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Lê C</b> đã bình luận bài viết của bạn</p>
                        <p class="text-muted">Cần cho thuê phòng tại ngõ Gốc Đề, điện nước giá dân, vệ sinh khép kín, đầy đủ tiện nghi,...</p>
                        <p class="text-muted"><small>1h trước</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="/static/app/images/banner/anh2.jpg" alt="Feature image">
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_content">
                    <div class="notification-list_img">
                        <img src="/static/Test_ui/user/6.png" alt="user">
                    </div>
                    <div class="notification-list_detail">
                        <p><b>Trần Trân</b> đã chia sẻ bài viết của bạn</p>
                        <p class="text-muted">Cần cho thuê phòng tại ngõ Gốc Đề, điện nước giá dân, vệ sinh khép kín, đầy đủ tiện nghi,...</p>
                        <p class="text-muted"><small>2 giờ trước</small></p>
                    </div>
                </div>
                <div class="notification-list_feature-img">
                    <img src="/static/app/images/banner/anh1.jpg" alt="Feature image">
                </div>
            </div>
        </div>

        <div class="text-center">
            <a href="#!" class="dark-link">Xem thêm</a>
        </div>

    </div>
</section>
{% endblock notification %}